footer.desktop(animated="zoom-in-left")
  div.footer-bar
    div.container-3
      div.footer-row
        div.footer-col
          +navFooter
        div.footer-col
          div.footer-social
            span Suivez-nous :
            +social
        div.footer-col
          p &copy; 2015 - Groupe Aoste
          p Tous droits réser és
  div.footer-bottom
    div.container-3
      p Pour votre santé, pratiquez une activité physique re1gulière. wwww,managerbouger.fr
footer.mobile(animated="slide-in-right")
  div.footer-social
    div.container-3
      span Suivez-nous :
      +social
  div.footer-menu
    div.container-3
      +navFooter
      div.footer-nav-line
      p &copy; 2015 - Groupe Aoste
      p Tous droits réser és
  div.footer-bottom
    div.container-3
      p Pour votre santé, 
        br
        .
          pratiquez une activité physique re1gulière.
        br
        .
          wwww,managerbouger.fr