<div class="calendar-wrapper">
  <div class="calendar-icon">
    <span class="month">June</span>
    <span class="day">29</span>
    <span class="week">Thursday</span>
  </div>
  <div class="calendar-popup">
    <div class="calendar-choose-month">
      <div class="calandar-year">
        <span class="left fa fa-chevron-left"></span>
        <span class="year">2018</span>
        <span class="right fa fa-chevron-right"></span>
      </div>
      <div class="calendar-row">
        <div class="calendar-month">
          JANUARY
        </div>
        <div class="calendar-month">
          FEBRUARY
        </div>
        <div class="calendar-month">
          MARCH 
        </div>
        <div class="calendar-month">
          APRIL
        </div>
      </div>
      <div class="calendar-row">
        <div class="calendar-month">
          MAY
        </div>
        <div class="calendar-month">
          JUNE
        </div>
        <div class="calendar-month">
          JULY 
        </div>
        <div class="calendar-month">
          AUGUST 
        </div>
      </div>
      <div class="calendar-row">
        <div class="calendar-month">
          SEPTEMBER 
        </div>
        <div class="calendar-month">
          OCTOBER 
        </div>
        <div class="calendar-month">
          NOVEMBER 
        </div>
        <div class="calendar-month">
          DECEMBER
        </div>
      </div>
    </div>
    <div class="calendar-header">
      <div class="calendar-display-month">
        <span>March - 2018</span>
      </div>
      <div class="calendar-week">
        <div class="calendar-day">
          MON
        </div>
        <div class="calendar-day">
          TUE
        </div>
        <div class="calendar-day">
          WED
        </div>
        <div class="calendar-day">
          THU
        </div>
        <div class="calendar-day">
          FRI
        </div>
        <div class="calendar-day">
          SAT
        </div>
        <div class="calendar-day">
          SUN
        </div>
      </div>
    </div>
    <div class="calendar-dates">
      <div class="calendar-row">
        <div class="calendar-date not-this-month">
        </div>
        <div class="calendar-date not-this-month">
        </div>
        <div class="calendar-date not-this-month">
        </div>
        <div class="calendar-date">
        </div>
        <div class="calendar-date">
        </div>
        <div class="calendar-date">
        </div>
        <div class="calendar-date">
        </div>
      </div>
      <div class="calendar-row">
        <div class="calendar-date">
        </div>
        <div class="calendar-date">
        </div>
        <div class="calendar-date">
        </div>
        <div class="calendar-date">
        </div>
        <div class="calendar-date">
        </div>
        <div class="calendar-date">
        </div>
        <div class="calendar-date">
        </div>
      </div>
      <div class="calendar-row">
        <div class="calendar-date">
        </div>
        <div class="calendar-date">
        </div>
        <div class="calendar-date">
        </div>
        <div class="calendar-date">
        </div>
        <div class="calendar-date">
        </div>
        <div class="calendar-date">
        </div>
        <div class="calendar-date">
        </div>
      </div>
      <div class="calendar-row">
        <div class="calendar-date">
        </div>
        <div class="calendar-date">
        </div>
        <div class="calendar-date">
        </div>
        <div class="calendar-date">
        </div>
        <div class="calendar-date">
        </div>
        <div class="calendar-date">
        </div>
        <div class="calendar-date">
          25
        </div>
      </div>
      <div class="calendar-row">
        <div class="calendar-date">
        </div>
        <div class="calendar-date event">
          27
        </div>
        <div class="calendar-date event">
          28
        </div>
        <div class="calendar-date selected">
          29
        </div>
        <div class="calendar-date today">
          30
        </div>
        <div class="calendar-date have-event">
          31
        </div>
        <div class="calendar-date not-this-month">
        </div>
      </div>
    </div>
  </div>
</div>