@import "https://fonts.googleapis.com/css?family=Hind+Vadodara:300,400";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
html, body, .wrapper {
  height: 100%;
  min-height: 600px;
}

.clear:after {
  content: "";
  display: table;
  clear: both;
}

.hide {
  display: none !important;
}

.modal-backdrop {
  opacity: .5;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}

header {
  background-color: rgba(0, 0, 0, 0.4);
}
header li {
  padding: 15px;
  float: left;
  width: 20%;
  text-align: center;
  position: relative;
  text-transform: uppercase;
}
header li:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
}
header li:nth-child(1):after {
  background: linear-gradient(to left, #cb2d3e, #ef473a);
}
header li:nth-child(2):after {
  background: linear-gradient(to left, #ffb347, #ffcc33);
}
header li:nth-child(3):after {
  background: linear-gradient(to left, #56ab2f, #a8e063);
}
header li:nth-child(4):after {
  background: linear-gradient(to left, #00d2ff, #3a7bd5);
}
header li:nth-child(5):after {
  background: linear-gradient(to left, #4CB8C4, #3CD3AD);
}

.wrapper {
  overflow: hidden;
}

.dashboard {
  height: calc(100% - 121px);
}
.dashboard > div {
  float: left;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  width: 20%;
}

.dashboard .card {
  background-color: rgba(0, 0, 0, 0.4);
  margin: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  z-index: 2;
}
.dashboard .card:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
}
.rejected .card p:before, 
.rejected .card h5:after {
  color: #ef473a;
}
.pending .card p:before, 
.pending .card h5:after {
  color: #ffcc33;
}
.development .card p:before, 
.development .card h5:after {
  color: #a8e063;
}
.testing .card p:before, 
.testing .card h5:after {
  color: #3a7bd5;
}
.production .card p:before, 
.production .card h5:after {
  color: #3CD3AD;
}
.card h5 {
  font-size: 13px;
  line-height: 20px;
  padding: 10px;
  font-weight: 300;
}
.card.edit-mode h5 {
  position: relative;
}
.card.edit-mode h5:after {
  top: 50%;
  margin-left: 5px;
  margin-top: 1px;
  transform: translateY(-50%);
  position: absolute;
  font-size: 9px;
  content: "(Edit Mode Enabled)";
}
.rejected .card:before {
  background: linear-gradient(to left, #cb2d3e, #ef473a);
}
.pending .card:before {
  background: linear-gradient(to left, #ffb347, #ffcc33);
}
.development .card:before {
  background: linear-gradient(to left, #56ab2f, #a8e063);
}
.testing .card:before {
  background: linear-gradient(to left, #00d2ff, #3a7bd5);
}
.production .card:before {
  background: linear-gradient(to left, #4CB8C4, #3CD3AD);
}

footer {
  height: 70px;
  position: relative;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
}

.nav-footer {
  float: left;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-box-shadow: 1px 2px 8px -1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 2px 8px -1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #fff;
  margin: 15px 0 0 10px;
  position: relative;
  overflow: hidden;
}

.nav-footer .item {
  -webkit-transition: .5s;
  transition: .5s;
  width: 6px;
  height: 6px;
  background-color: #4395fa;
  position: absolute;
  border-radius: 20px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: hidden;
  pointer-events: none;
}

.nav-footer .item:nth-child(1) {
  top: 35%;
  left: 35%;
}

.nav-footer .item:nth-child(2) {
  top: 65%;
  left: 35%;
}

.nav-footer .item:nth-child(3) {
  top: 35%;
  left: 65%;
}

.nav-footer .item:nth-child(4) {
  top: 65%;
  left: 65%;
}

.nav-footer .item i{
  -webkit-transition: .5s;
  transition: .5s;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  opacity: 0;
}

.nav-footer.open {
  width: 156px;
  z-index: 1041;
}

.nav-footer.open .item {
  top: 50%;
  width: 32px;
  height: 32px;
  pointer-events: visible;
}

.nav-footer.open .item:hover {
  background-color: #144ACC
}

.nav-footer.open .item:nth-child(1) {
  left: 14%;
}

.nav-footer.open .item:nth-child(2) {
  left: 38%;
}

.nav-footer.open .item:nth-child(3) {
  left: 62%;
}

.nav-footer.open .item:nth-child(4) {
  left: 86%;
}

.nav-footer.open .item i {
  opacity: 1;
}

.calendar-wrapper {
  position: relative;
  float: right;
}

.calendar-icon {
  border-radius: 4px;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
  margin: 8px 10px 0 0;
  width: 65px;
  position: relative;
  float: right;
  background-color: #1488c8;
  box-shadow: 0 1px 0 #1488c8, 0 2px 0 #fff, 0 3px 0 #1488c8, 0 4px 0 #fff, 0 5px 0 #1488c8, 0 0 0 0 #fff;
  color: #fff;
}

.calendar-icon:hover {
  background-color: #1f518b;
  box-shadow: 0 1px 0 #1f518b, 0 2px 0 #fff, 0 3px 0 #1f518b, 0 4px 0 #fff, 0 5px 0 #1f518b, 0 0 0 0 #fff;
}

.calendar-icon span {
  display: block;
  text-align: center;
}

.calendar-icon .month {
  text-transform: uppercase;
  font-size: 8px;
  background-color: rgba(0,0,0,.1);
  padding: 2px 0;
  border-bottom: 1px solid rgba(0,0,0,.2);
}

.calendar-icon .day {
  font-size: 16px;
  padding: 0;
  padding-top: 3px;
  line-height: 16px;
}

.calendar-icon .week {
  font-size: 10px;
  line-height: 10px;
  padding: 2px 0 4px;
}

.wrapper-sign {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 260px;
  height: 230px;
  border-radius: 5px;
  background: rgba(3,3,3,0.25);
  box-shadow: 1px 1px 50px #000;
  font-family: 'Open Sans Condensed', sans-serif;
}

.wrapper-sign h1{
  position: relative;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 40px;
  color: #ddd;
  text-shadow: 3px 3px 10px #000;
}

.wrapper-sign input, .wrapper-sign button {
  text-decoration: none;
  position: relative;
  width: 80%;
  display: block;
  margin: 9px auto;
  font-size: 17px;
  color: #fff;
  padding: 8px;
  border-radius: 6px;
  border: none;
  color: #fff;
  background: rgba(3,3,3,.1);
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.wrapper-sign button {
  text-align: center;
  padding: 6px 8px;
  background: rgba(107,255,3,0.3);
}

.wrapper-sign input:focus {
  outline: none;
  box-shadow: 3px 3px 10px #333;
  background: rgba(3,3,3,.18);
}

.background-sign {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background-image: url(../images/forest.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.calendar-popup {
  bottom: 70px;
  left: -342px;
  width: 406px;
  position: absolute;
  text-transform: uppercase;
}
.calendar-popup .calendar-header, 
.calendar-popup .calandar-year {
  background: rgba(0, 0, 0, .6);
}
.calendar-popup .calendar-display-month {
  height: 40px;
  line-height: 40px;
  margin-bottom: -8px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
}
.calendar-popup .calendar-display-month:hover,
.calendar-popup .calendar-display-month.active {
  color: #3a7bd5
}
.calendar-popup .calendar-day, 
.calendar-popup .calendar-date, 
.calendar-popup .calendar-month,
.calendar-popup .calandar-year {
  width: 55px;
  height: 25px;
  display: inline-block;
  font-size: 14px;
  text-align: center;
  line-height: 25px;
  vertical-align: top;
  position: relative;
}
.calendar-popup .calendar-row {
  margin-top: 5px;
}
.calendar-popup .calendar-day {
  color: rgba(255, 255, 255, .5);
}
.calendar-popup .calendar-date {
  background: rgba(255, 255, 255, .2);
  color: #fff;
  cursor: pointer;
  margin-left: 3.5px;
  margin-top: 5px;
}
.calendar-dates {
  margin-left: -3.5px;
}
.calendar-popup .today {
  background-color: #56ab2f;
}
.calendar-popup .selected {
  background-color: #ef473a;
}
.calendar-popup .calendar-date.event:after {
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #ffcc33;
  right: 3px;
  top: 3px;
  position: absolute;
}
.calendar-popup .calendar-date:hover, 
.calendar-popup .calendar-month:hover {
  background-color: #3a7bd5;
}
.calendar-popup .not-this-month {
  background: transparent;
  pointer-events: none;
}
.calendar-popup .calendar-choose-month {
  margin-bottom: 5px;
}
.calendar-popup .calendar-month {
  background: rgba(255, 255, 255, .2);
  width: 98.89px;
  cursor: pointer;
  margin-left: 3.5px;
  margin-top: 5px;
}
.calendar-popup .calandar-year {
  width: 100%;
  height: 35px;
  line-height: 35px;
}
.calendar-popup .calandar-year .year {
  font-size: 18px;
}
.calendar-popup .calandar-year .left, 
.calendar-popup .calandar-year .right {
  position: absolute;
  font-size: 12px;
  top: 50%;
  margin-top: -6px;
  cursor: pointer;
}
.calendar-popup .calandar-year .left {
  left: 10px;
}
.calendar-popup .calandar-year .right {
  right: 10px;
}
.calendar-popup .calandar-year .left:hover, 
.calendar-popup .calandar-year .right:hover {
  color: #3a7bd5;
}

.add-task-title {
  text-align: center;
  padding: 10px 0;
}
.add-task {
  background-color: #fff;
  border-radius: 5px;
  margin: 0 auto;
  max-width:  500px;
  position: relative;
  width: 100%;
  z-index: 2;
}
.add-task:before {
  border-radius: 5px;
  border: 5px solid #4f68b8;
  bottom: -7px;
  content: '';
  filter: blur(15.1px);
  left: -7px;
  position: absolute;
  right: -7px;
  top: -7px;
  z-index: 0;
  pointer-events: none;
}
.add-task fieldset {
  border: 0;
  position: relative;
}
.add-task  fieldset + fieldset {
  border-top: 1px solid #ddd;
}
.add-task fieldset input,
.add-task fieldset textarea {
  display: block;
  width: 100%;
  height: 48px;
  padding: 16px 8px;
  border: 0;
  border-radius: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  position: relative;
  z-index: 1;
  color: #212121;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: transparent;
}
.add-task fieldset textarea {
  height: 140px;
  min-height: 140px;
}
.add-task fieldset:first-child input {
  border-radius: 5px 5px 0 0;
}
.add-task fieldset:last-child input {
  border-radius: 0 0 5px 5px;
}
.add-task label {
  position: absolute;
  top: 15px;
  left: 8px;
  color: #909090;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.add-task fieldset input:focus,
.add-task fieldset input:valid,
.add-task fieldset textarea:focus,
.add-task fieldset textarea:valid {
  outline: 0;
  padding: 22px 8px 10px;
}
.add-task fieldset input:focus + label,
.add-task fieldset input:valid + label,
.add-task fieldset textarea:valid + label,
.add-task fieldset textarea:focus + label {
  color: #5856D6;
  font-weight: 700;
  font-size: 12px;
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
}
.add-task .button-group {
  height: 48px;
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: -70px;
}
.add-task .button-group button,
.add-task .button-group a {
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;    
  border: 0 none;
  border-radius: 4px;
  line-height: 40px;
  height: 40px;
  text-align: center;
  width: 150px;
  margin: 0 10px;
  background-color: #fff;
  color: #1488c8;
  font-size: 16px;
}
.add-task .button-group button:hover,
.add-task .button-group a:hover {
  color: #1f518b;
}