<div class="wrapper">
<header class="clear">
<ul>
  <li>To do</li>
  <li>Pending</li>
  <li>Development</li>
  <li>Testing</li>
  <li>Production</li>
</ul>
</header>
<section id="dashboard" class="dashboard clear">
<div id="rejected" class="rejected"></div>
<div id="pending" class="pending">
  <div class="card ui-draggable">
    <h5 class="ui-draggable-handle">This is a sample task</h5>
  </div>
</div>
<div id="development" class="development"></div>
<div id="testing" class="testing"></div>
<div id="production" class="production"></div>
</section>
<footer>
  <div class="nav-footer" [ngClass]="{'open':isMenu}" (click)="isMenu = true">
    <a class="item" [routerLink]="['/add-task']">
      <i class="fa fa-pencil" aria-hidden="true"></i>
    </a>
    <a class="item">
      <i class="fa fa-book" aria-hidden="true"></i>
    </a>
    <a class="item">
      <i class="fa fa-heart" aria-hidden="true"></i>
    </a>
    <a class="item">
      <i class="fa fa-cog" aria-hidden="true"></i>
    </a>
  </div>
  <div class="modal-backdrop" [ngClass]="{'hide':!isMenu}" (click)="isMenu = false"></div>
  <calendar-component></calendar-component>
</footer>
</div>