mixin navFooter
  ul.footer-nav
    li
      a(href="#" title="Groupe aoste") Groupe aoste
    li
      a(href="#" title="Contact comsommatuers") Contact comsommatuers
    li
      a(href="#" title="Contact presse et bloguer") Contact presse et bloguer
    li
      a(href="#" title="Memtions légales") Memtions légales
    li
      a(href="#" title="Crédits")  