mixin nav
  li.menu-item 
    a.menu-item-title(href="#" title="la maison") la maison
      span.arrow-down
    span.accordion-toggle
      i.fa.fa-angle-down
    ul.sub-menu
      li.sub-menu-item
        a(href="#" title="aoste magazine").sub-menu-item-title aoste magazine
      li.sub-menu-item
        a(href="#" title="mes recettes").sub-menu-item-title mes recettes
      li.sub-menu-item
        a(href="#" title="mes avantages").sub-menu-item-title mes avantages
      li.sub-menu-item
        a(href="#" title="mes jeux").sub-menu-item-title mes jeux
      li.sub-menu-item
        a(href="#" title="mon compte").sub-menu-item-title mon compte
  li.menu-item 
    a.menu-item-title(href="#" title="#aostologie") #aostologie
  li.menu-item
    a.menu-item-title(href="#" title="nos products") nos products
  li.menu-item 
    a.menu-item-title(href="#" title="les recettes") les recettes
  li.menu-item 
    a.menu-item-title(href="#" title="nos boutiques") nos boutiques
  li.menu-item 
    a.menu-item-title(href="#" title="club aoste") club aoste
      span.arrow-down
    span.accordion-toggle
      i.fa.fa-angle-down
    ul.sub-menu
      li.sub-menu-item
        a(href="#" title="aoste magazine").sub-menu-item-title aoste magazine
      li.sub-menu-item
        a(href="#" title="mes recettes").sub-menu-item-title mes recettes
      li.sub-menu-item
        a(href="#" title="mes avantages").sub-menu-item-title mes avantages
      li.sub-menu-item
        a(href="#" title="mes jeux").sub-menu-item-title mes jeux
      li.sub-menu-item
        a(href="#" title="mon compte").sub-menu-item-title mon compte
