mixin social
  ul.menu-item-social
    li
      a(href="#" title="youtube")
        i.fa.fa-youtube
    li
      a(href="#" title="instagram")
        i.fa.fa-instagram
    li
      a(href="#" title="facebook")
        i.fa.fa-facebook
